h1 {
    color: #27aedb;
    text-align: center;
    }
    
#main{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
}
img{
    width: 400px;
}
.info{
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    gap: 10px;

}
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}